/* ---------------------- */
/* --- Standard Color --- */
/* ---------------------- */
/*
## yellow #937829
## black #000000
## white #f6f6f8
*/

/* ------------------------- */
/* --- Standard Fontsize --- */
/* ------------------------- */
* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  cursor: crosshair;
}

@media screen and (max-width: 1280px) {
  * {
    font-size: 13px;
  }
}

@media screen and (max-width: 900px) {
  * {
    font-size: 12px;
  }
}

@media screen and (max-width: 300px) {
  * {
    font-size: 11px;
  }
}

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  display: flex;
  place-items: center;
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  color-scheme: light dark;
  color: #242424;
  background-color: #e4e4e4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  width: 100%;
}

/* ------------------ */
/* --- Anchor tag --- */
/* ------------------ */
a {
  font-weight: 300;
  color: #f6f6f8;
  text-decoration: inherit;
}

a:hover {
  color: #937829;
}

/* -------------- */
/* --- Button --- */
/* -------------- */
.dark-button {
  width: fit-content;
  margin: 20px 0;
  color: #f6f6f8;
  background-color: transparent;
  padding: 10px 20px;
  border: #f6f6f8 0.7px solid;
  border-radius: 100px;
  transition-duration: 0.5s;
}

.dark-button:hover {
  color: #000;
  background-color: #937829;
  padding: 10px 20px;
  border: #937829 0.7px solid;
  border-radius: 100px;
}

.light-button {
  width: fit-content;
  margin: 20px;
  color: #937829;
  background-color: #f6f6f8;
  padding: 10px 20px;
  border: #937829 0.7px solid;
  border-radius: 100px;
  transition-duration: 0.5s;
}

.light-button:hover {
  color: #f6f6f8;
  background-color: #937829;
  padding: 10px 20px;
  border: #937829 0.7px solid;
  border-radius: 100px;
}

@media screen and (max-width: 400px) {
  .light-button {
    margin: 0;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3,
h5 {
  font-weight: 300;
}

p {
  font-size: 0.9rem;
  font-weight: 300;
}

/* ------------------ */
/* --- Scrollbars --- */
/* ------------------ */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f6f6f8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #937829;
}

@media screen and (max-width: 400px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}

/* ------------------------ */
/* --- Selection effect --- */
/* ------------------------ */
::-moz-selection {
  color: aliceblue;
  background: #937829;
}

::selection {
  color: aliceblue;
  background: #937829;
}

/* ---------------------- */
/* --- Hide in mobile --- */
/* ---------------------- */
@media screen and (max-width: 700px) {
  .hide-mobile {
    display: none;
  }
}

/* ---------------------- */
/* --- Hide in mobile --- */
/* ---------------------- */
.disable-link {
  cursor: not-allowed;
}
